.c-header__logo img {
  max-height: 2.5rem;
}

.c-footer {
  font-size: 0.9rem;
}

.c-footer__links a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.c-footer__socials i {
  font-size: 1.25rem;
}