/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

// Bootstrap (Sass)
@import "~bootstrap/scss/bootstrap";

// Bootstrap Icons (CSS)
@import "~bootstrap-icons/font/bootstrap-icons.css";